<h1> Welcome to x for all your questions on equity</h1>

<br/><br/>

Search for your questions
<%= form_tag "/", method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

Ask a question
<%= render  'form' %>

Here's a list of all the questions 
<% render 'list' %>

<br/><br/>